<div class="modal fade" id="user-modal" tabIndex="-1" role="dialog" aria-labelledby="user-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="user-modal-username"><%- username %></h4>
      </div>
      <div class="modal-body">
      <% console.log(user) %>
        <% if (user.first_name) { %>
        <dl class="dl-horizontal">
          <dt>First Name</dt>
          <dd><%- user.first_name %></dd>
          <dt>Last Name</dt>
          <dd><%- user.last_name %></dd>
          <dt>Organization</dt>
          <dd><%- user.organization %></dd>
          <dt>E-mail</dt>
          <dd><%- user.email_address %></dd>
        </dl>
        <% } else { %>
        <p> No personal information </p>
        <% } %>
      </div> <!--modal-body-->
    </div>
  </div>
</div>