<div class="modal fade" id="user-modal" tabIndex="-1" role="dialog" aria-labelledby="user-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="user-modal-username"><%- username %></h4>
      </div>
      <div class="modal-body">
        <% if (user.first_name) { %>
        <dl class="dl-horizontal">
          <dt>First Name</dt>
          <dd><%- user.first_name %></dd>
          <dt>Last Name</dt>
          <dd><%- user.last_name %></dd>
          <dt>Organization</dt>
          <dd><%- user.organization %></dd>
          <dt>Personal ID</dt>
          <dd><%- user.personal_id %></dd>
          <dt>E-mail</dt>
          <dd><%- user.email_address %></dd>
        </dl>
        <% } else { %>
        <p> No personal information </p>
        <% } %>
      </div> <!--modal-body-->
    </div>
  </div>
</div>

<div class="modal fade" id="user-modal2" tabIndex="-1" role="dialog" aria-labelledby="user-modalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="user-modal-username">Reset Rstudio Session for <%- username %></h4>
      </div>
      <div class="modal-body">
	    <p> If you can not login your Rstudio for some reason, you may use this tool to reset your Rstudio session. </p>
        <p> Warning: You may lose your current session after resetting your session. </p>		
        <button onclick="myFunction1()">Reset Rstudio Now</button>
		<p></p>
		<p> If you still can not login your Rstudio for some reason, you may use this tool to deep reset your Rstudio session. </p>
		<p> Warning: You may lose your current session and workspace data after deep resetting your session. </p>
		<button onclick="myFunction2()">Deep Reset Rstudio Now</button>
        <p></p>
		<p> If this tool still does not work for you, please contact your supervisor and/or email support@mobilizingcs.org with your info</p>
		
		<script>
		    function myFunction1() {
				let d = new Date();
				var injections= '<%- username %>';
				alert("Today's date is " + d + "\n\nThe Rstudio will be reset for "+injections);
				var xhttp = new XMLHttpRequest();
				var getUrl = window.location;
				xhttp.open("GET", getUrl .protocol + "//" + getUrl.host + "/" +"/app/user/whoami?client=xxx&device_id="+injections, true);
				xhttp.send();
			}
		    function myFunction2() {
				let d = new Date();
				var injections= '<%- username %>';
				alert("Today's date is " + d + "\n\nThe Rstudio will be deep reset for "+injections);
				var xhttp = new XMLHttpRequest();
				var getUrl = window.location;
				xhttp.open("GET", getUrl .protocol + "//" + getUrl.host + "/" +"/app/user/whoami?client=xxxx&device_id="+injections, true);
				xhttp.send();
			}
		</script>
        <% if (user.first_name) { %>
        <dl class="dl-horizontal">
          <dt>First Name</dt>
          <dd><%- user.first_name %></dd>
          <dt>Last Name</dt>
          <dd><%- user.last_name %></dd>
          <dt>Organization</dt>
          <dd><%- user.organization %></dd>
          <dt>Personal ID</dt>
          <dd><%- user.personal_id %></dd>
          <dt>E-mail</dt>
          <dd><%- user.email_address %></dd>
        </dl>
        <% } else { %>
        <% } %>
      </div> <!--modal-body-->
    </div>
  </div>
</div>

<div class="modal fade" id="user-modal3" tabIndex="-1" role="dialog" aria-labelledby="user-modalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="user-modal-username">RStudio Screenshot for <%- username %></h4>
      </div>
      <div class="modal-body">
	    <p> A screenshot of your RStudio session every 30~120 seconds.
		<button type="button" id="cask0" style='cursor: pointer' onclick="{cask=!cask;}">Pause</button>  
		<input type="checkbox" id="lyft3" checked> Sync 10s</p>		
		<div class="slidecontainer">
		  <img id='cimg' style="width: 100%;" ></img>
		  <div id='cimgdiv' style="width: 100%;" ></div>
		  <input type="range" min="1" max="100" id="myRange" onChange="myFunction84()" onKeyUp="myFunction84()">
		</div>
		<script>
		    var aauu = new Array();
			var cask = true;
		    function myFunction813() {
				var data = new FormData();
				var injections= '<%- username %>';
				data.append('client', injections);
				data.append('auth_token', 'rstudio.history.canvas.hash');
				data.append('personal_documents', 'false');
				data.append('document_description_search', 'rstudio.history.canvas.description');
				var xhr = new XMLHttpRequest();
				xhr.open('POST', '/app/document/read', true);
				xhr.onload = function () {
					var myObj = JSON.parse(this.responseText);
					var iuit;
					aauu = new Array();
					for (iuit = 0; iuit < Object.keys( myObj.data ).length; iuit++) {
					 var cx=Object.values(myObj.data)[iuit];
					 cx.index=Object.keys(myObj.data)[iuit];
					 aauu.push( cx );
					} 
					aauu=aauu.sort(function (a, b) {
						    if((""+a.last_modified) < (""+b.last_modified)) { return -1; }
							if((""+a.last_modified) > (""+b.last_modified)) { return 1; }
							return 0;
					})
					if(aauu.length>0){
						document.getElementById("myRange").min=1;						
						document.getElementById("myRange").max=aauu.length;
						document.getElementById("myRange").value=aauu.length;
						myFunction84();
					}else{
						document.getElementById('cimgdiv').innerHTML='No Screenshot Available';
					}
				};
				xhr.send(data);	
				return false;				
			}
			function myFunction84() {
			    if(aauu.length>0){
					var data = new FormData();
					data.append('client', 'rstudio.history.canvas.client');
					data.append('auth_token', 'rstudio.history.canvas.hash');
					data.append('document_id', aauu[document.getElementById("myRange").value-1].index );
					var xhr = new XMLHttpRequest();
					xhr.open('POST', '/app/document/read/contents', true);
					xhr.onload = function () {
						document.getElementById('cimg').src = this.responseText;
						document.getElementById('cimgdiv').innerHTML=document.getElementById("myRange").value+'/'+aauu.length+' Screenshot Timed UTC: '+ aauu[document.getElementById("myRange").value-1].last_modified;
					};
					xhr.send(data);	
				}
				return false;
			}
		    function myFunction819() {
				var data = new FormData();
				var d = new Date();
				var n = d.getTime();
				data.append('username', '<%- username %>');
				data.append('email_address', n);
				var xhr = new XMLHttpRequest();
				xhr.open('POST', '/app/user/reset_view', true);
				xhr.onload = function () {
				};
				xhr.send(data);	
				return false;				
			}
			function myFunction812() {
			    myFunction813();
				setInterval(function () {
					try {
						if(cask){
							document.getElementById('cask0').innerText= "Pause";
						}else{
							document.getElementById('cask0').innerText= "Paused";
						}
						var lyft=document.getElementById("lyft3").checked;
						if(lyft){
							myFunction819();
						}
						if(cask && $('#user-modal3').hasClass('in') ){myFunction813()};
					}
					catch(error) {
					  console.error(error);
					}
				}, 250);
				return false;
			}
		</script>
      </div> <!--modal-body-->
    </div>
  </div>
</div>