<div id="change-password-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <br>
   </div>
   <div class="modal-body">
      <div class="panel panel-login" id="change-password-panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              <a href="#" class="active">Change Password</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12 errordiv change"></div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <form id="change-password-form" role="form">                                                                              
                <div class="form-group">                                                                                  
                  <input type="text" id="change-password-username" tabindex="1" class="form-control" value="<%- username %>" disabled>    
                </div> 
                <div class="form-group">                                                                                  
                  <input type="password" id="change-password-current-password" tabindex="1" class="form-control" placeholder="Current Password" value="" required>    
                </div>                                                                                                                            
                <div class="form-group">
                  <input type="password" name="change_password_new_password" id="change_password_new_password" tabindex="1" class="form-control" placeholder="New Password" value="">
                </div>
                <div class="form-group">
                  <input type="password" name="change_password_new_password_confirm" id="change_password_new_password_confirm" tabindex="1" class="form-control" placeholder="New Password (repeat)" value="">
                </div>                               
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" id="change-password-submit" tabindex="4" class="form-control btn btn-login" value="Change Password">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
   </div>
  </div>
</div>
</div>