<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <div class="row text-center">
      <img class="pull-center" src="assets/ohmage-logo-full.png"></img>
    </div>
    <div class="row" id="login">
<div class="panel panel-login" id="password-recovery-panel">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <a href="#" class="active">Password Recovery</a>
      </div>
    </div>
    <hr>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12 errordiv"></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="text-center">Your username and email address are required to reset your password. Enter this information below. If you did not provide an email address upon receipt of your account, please contact <a href="mailto:support@mobilizingcs.org" target="_blank">support@mobilizingcs.org</a> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form id="recover-form" role="form">                                                                              
          <div class="form-group">                                                                                  
            <input type="text" name="recover-username" id="recover-username" tabindex="1" class="form-control" placeholder="Username (case sensitive)" value="" required>    
          </div>                                                                                                                            
          <div class="form-group">
            <input type="email" name="recover-email" id="recover-email" tabindex="1" class="form-control" placeholder="Email Address" value="" required>
          </div>                                   
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="recover-submit" id="recover-submit" tabindex="4" class="form-control btn btn-register" value="Reset Password">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-12">
        <div class="text-center">
          <a href="#login" tabindex="5" class="forgot-password login-nav">After that, check your mailbox. Click here to go back to Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  </div>
</div>
